
@{
    ViewBag.Title = "Index";
    List<HerramientasDatas.Modelo.candidata> DatosC = ViewBag.DatosC;
    List<HerramientasDatas.Modelo.municipio> DatosM = ViewBag.DatosM;
    string word = ViewBag.word;
}

<br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Concurso de Candidatas</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <div class="input-field col-xs-4">
                            <label for="name">Busqueda</label>
                            <input id="name" type="text" name="word" placeholder="Buscar" value="@word" />
                            
                        </div>
                        <div class="col-xs-4">
                            <label for="municipios">Municipios</label>
                            <select id="municipios" name="m">
                                <option value="" disabled selected>Seleccione un Municipio</option>
                                @foreach (HerramientasDatas.Modelo.municipio item in DatosM)
                                {
                                    <option value="@item.mNombre">@item.mNombre</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-4 ">
                            <button type="submit" class="white-text waves-effect waves-light btn"><i class="material-icons">Buscar</i></button>
                        </div>
                    }
                </div>
                
                  </div>
            <br /><br /><br />
            <div class="row">
                <div class="col-xs-12">
                    @foreach (HerramientasDatas.Modelo.candidata item in DatosC)
                    {
                        <div class="col-xs-4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img style="height:70px" class="responsive-img"
                                         src="data:image/png;base64,@item.cFoto" alt="@item.cNombreCom">
                                    
                                </div>
                                <div class="card-content">
                                    <span class="card-title">@item.cNombreCom</span>
                                    <p><b>Edad: </b>@item.cFDN</p>
                                    <p><b>Estudios: </b>@item.cNivelStudio</p>
                                    <p><b>Descripción: </b>@item.cDescripcion</p>
                                </div>
                                <div class="card-action">
                                    @using (Html.BeginForm("Like", "Home", FormMethod.Post))
                                    {
                                        <input type="hidden" name="pkCandidata" value="@item.pkCandidata" />
                                        <div class="center-align">
                                            <button type="submit" class="white-text waves-effect waves-light btn">Me gusta (@item.cRaking)</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




    <h2>Sistema de Control de Candidatas 2017</h2>

